.recording {
    .avatar_friends {
        width: 50px;
        height: 50px;
        border-radius: 100px;
        /* Радиус скругления */
        border: 3px solid #fdfffd;
        /* Параметры рамки */
        box-shadow: 0 0 7px #ece7e7;
        margin-top: 20px;
        margin-left: 20px;
    }
    .recording_header {
        display: flex;
        h2 {
            color: rgb(17, 72, 253);
            margin-left: 20px;
        }
    }
        .recording_content {
            display: flex; 
            margin-left: 50px;
            background-color: rgb(231, 226, 226);
            margin-right: 50px;
            margin-top: 20px;
        }
        .recording_like {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            span {
                margin-right: 5px;
                margin-left: 20px;
            }
        }
}