@charset "UTF-8";
.messege {
  display: grid;
  grid-column: 4/5;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-areas: 'head head' 'cor cor' 'inp inp'; }
  .messege .message_avatar {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    /* Радиус скругления */
    border: 3px solid #fdfffd;
    /* Параметры рамки */
    box-shadow: 0 0 7px #ece7e7;
    /* Параметры тени */
    margin-right: 20px; }
  .messege .messege_header {
    border-bottom: #bdbdbd 1px solid;
    padding: 5px;
    grid-area: head; }
  .messege .correspondence {
    grid-area: cor;
    margin-top: 20px;
    overflow-y: scroll; }
  .messege .input_message {
    grid-area: inp; }
    .messege .input_message .input_group {
      display: flex; }
    .messege .input_message .input_group .input {
      width: 80%;
      border: #cecaca 1px solid;
      border-radius: 10px; }
    .messege .input_message .input_addon {
      margin-left: 10px;
      border: #14b7e0 3px solid;
      border-radius: 10px;
      width: 10%;
      background-color: #0fcce6; }
