.MyPage {
    grid-area: a;
    .avatar_fon{
        display: flex;
        justify-content: flex-start;
        background-image: url('https://dgdesign.ru/uploads/posts/2018-09/1535809097_abstraktnyy-fon-dlya-shapki-sayta-164223311.jpg');
        background-size: cover;
        height: 100%;
        .avatar {
           max-width: 150px;
            min-height: 150px;
            border-radius: 50%;
            /* Радиус скругления */
            border: 1px solid rgb(204, 204, 204);
            /* Параметры рамки */
            box-shadow: 0 0 50px rgb(18, 138, 185);
            margin: 50px;
        }
        .fon {
            display: flex;
            align-items: center;
            
        }
      
    }
    .posts {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
}

