.MyPage {
    grid-area: a;
    .avatar_fon{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
     
        background-image: url('https://dgdesign.ru/uploads/posts/2018-09/1535809097_abstraktnyy-fon-dlya-shapki-sayta-164223311.jpg');
        background-size: cover;
        height: 100%;
        .avatar {
           max-width: 350px;
            max-height: 350px;
            border-radius: 0px 20px 20px 20px;
            /* Радиус скругления */
            border: 2px solid #119ae9;
            /* Параметры рамки */
            box-shadow: 0 0 10px rgb(16, 190, 202);
        }
        .about {
    
        }
        .fon {
            display: flex;
            align-items: center;
        }
      
    }
    .posts {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
}

