.App {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-areas: 
        'nav h h h'
        'nav a a a'
        'nav a a a'
       ;
       grid-gap: 20px;
    background-color: rgb(223, 223, 223);
    box-sizing: border-box;
}
@media screen and (max-width: 479px) {
    .App {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            'nav'
            'a'
           ;
        grid-gap: 20px;
        background-color: rgb(223, 223, 223);
        box-sizing: border-box;
  }
}