.image_message {
    width: 40px;
    height: 40px;
    border-radius: 100px; /* Радиус скругления */
    border: 3px solid rgb(253, 255, 253); /* Параметры рамки */
    box-shadow: 0 0 7px rgb(236, 231, 231); /* Параметры тени */
    margin-right: 20px;
}
.one_message {
   .message_text {
       padding: 5px;
       background-color: rgba(121, 212, 167, 0.3);
   }
}